Package: com.michaelmelita1.lowgraphics
Name: LowGraphics
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Replaces Blurs with Transparency Systemwide
Maintainer: Michael Melita
Author: Michael Melita
Section: Tweaks
